<div class="grid-container">
  <div class="title">
    <h3>Mi Chat</h3>
  </div>
  <div class="users">
    <ul data-list-scroll-container="true" style="display: block;">
      <li *ngFor="let u of users">
        <div>
          <span class="profile-picture min-profile-picture">
            <img src="assets/images/avatar_default.png" class="avatar-image is-loaded bg-theme" width="100%">
          </span>
          <span class="personName">{{u.nickname}}</span>
        </div>

      </li>
    </ul>

  </div>
  <div class="chat">
    <ul class="list-ul">
      <li *ngFor="let m of messages">
        <div *ngIf="m.id !== m.myId ">
            <span class="personName"><b>{{m.user.nickname}} : </b></span>
            <span class="personName">{{m.msg}} </span>
        </div>
        <div *ngIf="m.id === m.myId " style="text-align: right">
          <span class="personName"><b>{{m.user.nickname}} : </b></span>
          <span class="personName">{{m.msg}} </span>
        </div>
      </li>
    </ul>
  </div>
  <div class="send chatText">
    <fa-icon [icon]="faSmile" onclick="javascript:chatemoji()"></fa-icon>
    <textarea  [(ngModel)]="inputMessage" placeholder="Mensaje"></textarea>
    <fa-icon [icon]="faPaperPlane" (click)="sendMessage()"></fa-icon>
  </div>
</div>


