.title { grid-area: title; }
.users { grid-area: users; }
.chat { grid-area: chat; }
.send { grid-area: send; }

ul {
  list-style-type: none;
}

.grid-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-areas:
    'title chat'
    'users chat'
    'users send';
  grid-template-columns: 200px auto;
  grid-template-rows: 50px auto 50px;
  grid-gap: 1px;
  background-color: #CCCCCC;
  padding: 1px;
  width: 100vw;
  height: 100vh;
  div {
    background-color: rgba(255, 255, 255);
    text-align: left;
  }
}

.chatText {
  display: flex;
  padding: 5px;
  flex-direction: row;
  fa-icon {
    padding: 4px;
    width: 30px;
  }
  textarea {
    border-radius: 5px;
    background-clip: padding-box;
    width: inherit;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    padding-right: 16px;
    resize:none;
    height:40px
  }
}

.personName {
  white-space: nowrap;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.chat-image {
  display: inline-block;
  float: left;
  text-align: center;
  width: 50px;
  img {
    border-radius: 100%;
    width: 100%;
  }
}
.avatar-image {
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity .18s ease-out;
  transition: opacity .18s ease-out;
  display: block;
}

.profile-picture {
    float: left;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
