/* You can add global styles to this file, and also import other style files */
$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  min-height: 100%;
}

html {
  height: 100%;
}
